
@media screen and (max-width: 400px){
    .navbar-container{
      justify-content:space-around;
    
    }
    .nav-item1 {
        display: none;
    }
    .nav-item2 {
        display: none;
    }

    /* nav banner section  */
    .banner-container{
     flex-direction: column-reverse;
     text-align: center;
     width: 100%;
     margin: 0px;
     justify-content: center;
     align-items: center;
    
    }
    .banner-photo img{
        width: 50%;
        height: 50%;
    }
    .banner-info h1{
        font-size: 1.8em;
        gap: 0px;
    }
    .banner-info p{
        font-size: 1em;
    }
    .nav-btn{
        /* display: none; */
        
    }
    /* service section style  */

    .service-child{
      min-width: 50%;
      min-height: 50%;

    }
    .service-container{
      
    }
    .service-item1{
        width: 20%;
    }
    .collection-container{
      justify-content: center;
    }
    .card{
        grid-template-columns: 1fr;
      justify-content: center;
      margin-left: 50px;

       
       
       
        
    }
    .single-card{
        width: 100%;
        padding: 0px;
        
    }
    .collection-img{
        /* width: 219px;
        height: 229px;
       object-fit: cover; */
  
       
       
    }
    .single-card p{
     
        text-align: left;
    }
    .single-card h1{
   
        /* line-height: 40px; 142.857 */
        text-align: left;
    }

    /* new section style                                     new section  */

    .info-container{
       width: 50%;
       margin-left:5em;
       
    }
    .info-container button{
        margin-bottom: 10px;
    }
    .info-container p{
        text-align: center;
    }
    .info-container h1{
        text-align: center;
    }
    .info-chlid{
        flex-direction:column-reverse;
        
    }
    .info-chlid img{
        width: 80%;
        height: 100%;
        margin-left: 30px;
    }
    .info-main-container{
        height: 100%;
    }
}