@import url('https://fonts.googleapis.com/css2?family=My+Soul&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Poppins', sans-serif;
}

/* navbar-section style start */

.navbar-container{
    display: flex;
    justify-content: space-between;
    margin: 20px auto 0px;
    max-width: 1200px;
    min-height: 50px;
    /* border: 5px solid tomato;          check the size  */
    align-items: center;
}
.navbar-container a{
    text-decoration: none;
    
}
.nav-logo-tittle{
    color: #3A3A3A;
    font-size: 24px;
    font-weight: 700;

}
 .nav-item1 {
    color: #3A3A3A;
    font-size: 16px;
    font-weight: 600;
    margin-left: 34px;
}
.nav-item2{
    width: 24px;
    height: 24px;
    margin-left: 34px;
}
.nav-item3{
    width: 24px;
    height: 24px;
    margin-left: 34px;
}


/* navbar banner section style start */


.banner-container{
    max-width: 1200px;
    margin: 10px auto ; 
    min-height: 600px;
    justify-content: space-between;
    border: 5px solid tomato;
    display: flex;
    align-items: center;
}

.banner-photo img {
    background-image: url("/images/Circle\ design.svg");
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.banner-info h1{
    color: #3A3A3A;
    font-size: 52px;
    font-weight: 700;
    line-height: 70px; /* 134.615% */
}
.banner-info p{
    color: #3A3A3A;
    font-size: 16px;
    font-weight: 600;
}
.banner-info button{
    display: inline-flex;
    padding: 10px 24px;
    margin-top: 30px;
    gap: 8px;
    border-radius: 41px;
    background: #E02C6D;
    border: none;
    align-items: center;
    color: #fff;
}
.nav-btn{
    width: 24px;
    height: 24px;
}